<?xml version="1.0"?>

<model>
  <name>Doe with Lidar</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Sam Kemp</name>
    <email>samkemp1996@gmail.com</email>
  </author>

  <maintainer email="samkemp1996@gmail.com">Sam Kemp</maintainer>

  <description>
    Starting with iris_with_ardupilot
    Add lidar plugin, link and joint
  </description>
  <depend>
    <model>
      <uri>model://iris_with_ardupilot</uri>
      <version>1.0</version>
    </model>
  </depend>
</model>
